{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Punalur Latin Diocese</title>
<!-- Icon image of the patron St Teresa of Infant Jesus Little Flower -->
<link rel = "icon" href = "https://tse3.mm.bing.net/th?id=OIP.fpVIKeYa8fW5IRpjDdZeBAAAAA&pid=Api&P=0" type = "image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medicinal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'css/style.css '%}" rel='stylesheet' type='text/css' />	
<link href="{% static 'css/style.css '%}" rel='stylesheet' type='text/css' />	
{% block css %}{% endblock  %}
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<!--/web-font-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>

	<!--start-smooth-scrolling-->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                  containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
             };
            */
            
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>
    <style>
        .joel{
            
        }
        #search {
            float: right;
            margin-top: 9px;
            width: 250px;
        }
        
        .search {
            padding: 5px 0;
            width: 230px;
            height: 30px;
            position: relative;
            left: 10px;
            float: left;
            line-height: 22px;
        }
        
            .search input {
                position: absolute;
                width: 0px;
                float: Left;
                margin-left: 210px;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
                transition: all 0.7s ease-in-out;
                height: 30px;
                line-height: 18px;
                padding: 0 2px 0 2px;
                border-radius:1px;
            }
        
                .search:hover input, .search input:focus {
                    width: 200px;
                    margin-left: 0px;
                }
        
        .btn {
            height: 30px;
            position: absolute;
            right: 0;
            top: 5px;
            border-radius:1px;
        }
        
        
    </style>
    
    <!--end-smooth-scrolling-->
<a href="#house" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script src="{% static 'js/bootstrap.js' %}"></script>
<body>
    <div class="main-header" id="house">
        <div class="header-strip"  style="background:#23b5b9">
           <div  class="container">
            <p class="location"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@example.com">info@example.com</a></p>
            <p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> + 655 8858 54892</p>
            <div class="social-icons">
                <ul>					
                    <li><a href="#"><i class="facebook"> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="google-plus"> </i></a></li>	
                    <li><a href="#"><i class="dribble"> </i></a></li>										
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        </div>
      
</div>
    <!--header-top-->
        <div  class="header-top">
          <div class="container">
                 <nav  class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    <div style="font-size:10px" class="logo">
                        <h1 ><a class="navbar-brand" href="/"><span>P</span>unalur Diocese  <img style="height: 70px;    top: -9px;
                            left: 374px; left:auto; " src="{% static 'images/jesus5.png' %}" alt=" " /></a></h1>
                    </div>
                </div>
       

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">

                    <div class="top-menu">
                        <nav  class="menu menu--francisco">
                                <ul class="nav navbar-nav menu__list">
                                    <li class="menu__item {% block active1 %}{% endblock  %}"><a href="/" class="menu__link"><span class="menu__helper">Home</span></a></li>
                                    <li class="menu__item {% block active6 %}{% endblock  %}"><a href="/blog/" class="menu__link"><span class="menu__helper">Blog</span></a></li>
                                    <li class="menu__item {% block active7 %}{% endblock  %}"><a href="/News/" class="menu__link"><span class="menu__helper">News</span></a></li>
                                    <li class="menu__item {% block active3 %}{% endblock  %}"><a href="/clergy" class="menu__link"><span class="menu__helper">Clergy</span></a></li>
                                    <li class="menu__item {% block active4 %}{% endblock  %}"><a href="/ministries/" class="menu__link"><span class="menu__helper">Ministries</span></a></li>
                                    <li class="menu__item {% block active2 %}{% endblock  %}"><a href="/about" class="menu__link"><span class="menu__helper">About Us</span></a></li>
                                    <li class="menu__item {% block active5 %}{% endblock  %}"><a href="/contact" class="menu__link"><span class="menu__helper">Contact Us</span></a></li>
                                    {% comment %} <li class="menu__item {% block active %}{% endblock  %}"><a href="/admin" class="menu__link"><span class="menu__helper">Admin</span></a></li> {% endcomment %}
                                    
                                </ul>
                            </nav>
                        </div>
                </div>
               
                   
                        
                       
                <!-- /.navbar-collapse -->
            </nav>

           <div class="clearfix"></div>
        </div>
        
</div>
{% for message in messages  %}      
<div class="alert alert-{{ message.tags }} alert-dismissible "style="margin:0;" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Messages :</strong> {{ message }}<a href="#" class="alert-link"></a>.
    </div>
    {% endfor %} 
    {% block body %}{% endblock  %}
    <!--/start-footer-section-->
			<div class="footer-section">
				<div class="container">
					<div class="footer-grids wow bounceIn animated" data-wow-delay="0.4s">
						<div class="col-md-12 footer-grid">
						<h4>About <span>Punalur Diocese</span></h4>
						<div class="border2"></div>
						  
						  <p class="sub">
                            {% for jt in about  %}
                            {{jt.short_desc}}
                            {% endfor %}
                          </p>
						</div>
						
						<div class="clearfix"></div>
					</div>
			</div>
		</div>
	<!--//end-footer-section-->
	<!--//footer-->
	<div class="footer-bottom ">
		<div class="container">
			<p>© 2022 Punalur Diocese. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts  <br>  <br> Developed by |<a href="//joelthomas62384.github.io/Joel_personALWEB"> <strong>Joel Thomas</strong></a></a></p>
		</div>
</body>
</html>