{% extends "base.html" %}
{% load static %}
<script
	type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/slider.css">
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/web-font-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
		});
	});
</script>

{% block active3 %} menu__item--current{% endblock %}
{% block body %}
<style>
	.card {
		padding-top: 20px;
		margin: 10px 0 20px 0;
		background-color: #ffffff;
		border: 1px solid #d8d8d8;
		border-top-width: 0;
		border-bottom-width: 2px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}



	.card.hovercard {
		position: relative;
		width: 300px;
		padding-top: 0;
		overflow: hidden;
		text-align: center;
		background-color: #fff;
	}

	.card.hovercard img {
		width: 230px;
		height: 200px;
	}

	.card.hovercard:hover {
		border: solid 1px #CCC;
		-moz-box-shadow: 1px 1px 5px #999;
		-webkit-box-shadow: 1px 1px 5px #999;
		box-shadow: 1px 1px 5px #999;
	}

	.card.hovercard .avatar {
		position: relative;
		top: -40px;
		margin-bottom: -40px;
	}

	.card.hovercard .avatar img {
		width: 80px;
		height: 80px;
		max-width: 80px;
		max-height: 80px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}

	.card.hovercard .info {
		padding: 4px 8px 10px;
	}

	.card.hovercard .info .title {
		margin-bottom: 4px;
		font-size: 24px;
		line-height: 1;
		color: #262626;
		vertical-align: middle;
	}

	.card.hovercard .info .desc {
		overflow: hidden;
		font-size: 12px;
		line-height: 20px;
		color: #737373;
		text-overflow: ellipsis;
	}

	.card.hovercard .bottom1 {
		padding: 0 20px;
		margin-bottom: 17px;
	}

	.card.people .card-bottom1 {
		position: absolute;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		padding: 10px 20px;
		line-height: 29px;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#imaginary_container{
		margin-top:20%; /* Don't copy this */
	}
	.stylish-input-group .input-group-addon{
		background: white !important; 
	}
	.stylish-input-group .form-control{
		border-right:0; 
		box-shadow:0 0 0; 
		border-color:#ccc;
	}
	.stylish-input-group button{
		border:0;
		background:transparent;
	}
	@media screen and (max-width:728px) and (min-width:510px) {
		.card.hovercard {
			left: 4rem;
		}

	}

	@media screen and (max-width:280px) and (min-width:75px) {
		.card.hovercard {
			width: 194px
		}

	}

	@media screen and (max-width:280px) and (min-width:75px) {
		.card.hovercard {
			width: 250px;
			left: -25px;
		}

		.bottom1 {
			margin-left: -3rem;
		}

	}
	@media screen and (max-width:335px) {
		.card.hovercard {
			width: 250px;
			left: -25px;
		}

		.bottom1 {
			margin-left: -3rem;
		}

	}
	@media screen and (max-width:245px) {
		.card.hovercard {
			width: 192px;
			left: -25px;
		}
        .card.hovercard img {
			width:10em;
		}


		.bottom1 {
			margin-left: -3rem;
		}

	}
</style>

<!-- //Line Slider -->
<div class="top_banner two" style="background: url(/static/images/church3.jpg) no-repeat 0px 0px;">
	<div class="container">
		<div class="sub-hd-inner">
			<h3 class="tittle">Diocesan<span> Clergy</span></h3>
		</div>
	</div>
</div>

<!-- typography -->
<div style="align-self:start; margin-top:3rem" class="container  ">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div id="imaginary_container"> <form method="get" action="/clergy/searchReligious">
					<div class="input-group stylish-input-group input-append">
						<input type="text" class="form-control" name="priestSearch"  placeholder="Search" >
						<span class="input-group-addon">
							<button type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>  
						</span>
					  </form>
					</div>
				</div>
			</div>
	  </div>
	  </div>
      {% if clergy|length < 1 %}



   
 
  


      <p><strong>No search results</strong></p>
      <br>
      Your search query : <br><br> <strong>{{query|truncatechars:70}}</strong><br> <br>did not match any documents. <br> <br> <br>
      
      Suggestions:
      <br>
      <br>
      <ul style="margin-left:3em">
             <li style="list-style-type: disc;margin-bottom:10px ">Make sure that all words are spelled correctly.</li>
              <li style="list-style-type: disc;margin-bottom:10px">Try more general keywords.</li>
               <li style="list-style-type: disc;margin-bottom:10px"> Try fewer keywords.</li>
               <li style="list-style-type: disc;margin-bottom:10px"> Try different keywords.</li>
                </li style="list-style-type: disc;margin-bottom:10px">
      </ul>
      
     
  </div>
  
  {% else %}
	{% for priest in  clergy %}
	
	
	<div style="margin:25px;height:28em;margin-top:5em;margin-bottom:5em" class="card hovercard col-xs-12 col-sm-12 col-md-6 col-lg-1">
		<img src="/media/{{priest.image}}" alt="" />

		<div class="info">
			<div style="margin-bottom:15px" class="title">
				Fr.{{priest.name}}
			</div>
			<div class="desc"><strong>Date of Birth</strong>:{{priest.Date_of_Birth}} <br>
				<strong>date of Ordination</strong>: {{priest.Date_of_Ordination}}</strong> <br>
				<strong>date of Feast</strong>: {{priest.Date_of_Feast}} <br>
				<strong>Phone Number</strong>: {{priest.Phone_Number}} <br>
				<strong>Email Id</strong>: {{priest.Email_Id}}<br>
				<strong>Address</strong>: {{priest.Address}}
			</div>

		</div>
		
	</div>

	{% endfor %}
</div>
{% endif %}
<!-- //shortcodes -->

<!--start-smooth-scrolling-->
<script type="text/javascript">
	$(document).ready(function () {
		/*
		var defaults = {
				containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<!--end-smooth-scrolling-->
<a href="#house" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
	</span></a>
<script src="static/js/bootstrap.js"></script>

{% endblock %}